{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div class="card">
    <h5 class="card-header">{{ post.user }}</h5>
    <div class="card-body">
        <p class="card-text">{{ post.text }}</p>
        <p class="card-text">{{ post.created_at }}</p>
        <form method = 'post'>
            {% csrf_token %}
            <input type = 'submit' onclick = 'return alertFunc()' value = '削除する'/>
        </form>
        <script>
            function alertFunc() {
                var del = confirm("本当に削除しますか？");
                if (del == true) {
                    return true;
                } else {
                    location.href = '{% url 'timelines:index' %}'
                    return false;
                }
            }
        </script>
</div>
</div>


{% endblock %}