{% extends 'base.html'%}
{% load static %}

{% block contents %}

<div class = 'timeline'>
    <h3>タイムライン</h3>
    <div class = 'top-container'>

        {% for post in posts %}
        <section>
        <div class="card">
            <h5 class="card-header">[プロフィール画像]{{ post.user }}</h5>
            <div class="card-body">
              <p class="card-text">{{ post.text }}</p>
              <p class="card-text">{{ post.created_at }}</p>
              <a href="{% url 'timelines:detail' post.pk %}" class="btn btn-primary">詳細</a>
              <br>
              <br>
              <p class = 'userpost'>
                <a href = '{% url 'timelines:userpost' post.user.id %}' style="text-decoration: none;" class = 'btn'>
                  {{ post.user.username }}の投稿一覧へ
                </a>
              </p>
            </div>
          </div>
        </section>
        {% endfor %}
        
    </div>
</div>
{% endblock %}