{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class = "profile-page">
    <div class = 'username'>
        {{ post.user }}のプロフィール
    </div>
    <div class = 'edit'>
        ユーザー名編集
    </div>
</div>

<section>
    <div class="main-area">
        <div class="tab">
            <p class="tab-menu is-active">あなたの投稿</p>
            <p class="tab-menu">いいねした投稿</p>
        </div>
        <div class="content-box is-active">
            <p class="content">
                <div class="card">
                    <h5 class="card-header">{{ post.user }}</h5>
                    <div class="card-body">
                        <p class="card-text">{{ post.text }}</p>
                        <p class="card-text">{{ post.created_at }}</p>
                            <a href = '{% url 'timelines:delete' post.pk %}' class="btn btn-primary">削除する</a>
                            <a href = '{% url 'timelines:update' post.pk %}' class="btn btn-primary">更新</a>
                    </div>
                </div>
            </p>
        </div>
        <div class="content-box">
            <p class="content">タブ2の中身です</p>
        </div>
    </div>
</section>
<script>
    const tab_list = document.querySelectorAll('.tab-menu');
    const content_box_list = document.querySelectorAll('.content-box');
    for(let i = 0;i < tab_list.length;i++){
        tab_list[i].addEventListener('click', tab_check,false);
    }
    function tab_check(e){
        let num;
        if(!e.target.classList.contains('is-active')){
            for(let i = 0; i < tab_list.length;i++){
                if(tab_list[i].classList.contains('is-active')){
                    tab_list[i].classList.remove('is-active');
                }
            }
            e.target.classList.add('is-active');
            for(let i = 0; i < tab_list.length;i++){
                if(tab_list[i].classList.contains('is-active')){
                    num = i;
                }
            }
            content_check(num);
            }
    }
    function content_check(number){
        for(let i = 0; i < content_box_list.length;i++){
            if(content_box_list[i].classList.contains('is-active')){
                content_box_list[i].classList.remove('is-active'); 
            } 
        }
        content_box_list[number].classList.add('is-active');
    }
</script>
{% endblock %}