{% extends 'base.html'%}
{%load static%}

{% block contents %}

<div class = 'top-page'>
    <div class = 'top-container'>
        <h2>SNSAPP~no-title~へようこそ</h2>

        <p>日常の緩い出来事やポジティブな出来事を発信しよう！！</p>
        {% if user.is_authenticated %}
            <a href = '{% url 'timelines:index' %}'>タイムラインを見よう！</a>
        {% else %}
            <a href = '{% url 'accounts:login' %}'>ログインはこちら</a>
            <a href = '{% url 'accounts:signup' %}'>登録はこちら</a>
        {% endif %}
    </div>
</div>

{% endblock %}